body {
    background-color: #000000;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-left: 15px;
}
#canvas {
    border: 3px solid white;
    background-color: black;
    width: 80vw;
    height: 90vh;
}
#scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}
#start-btn {
    margin-top: 20px;
}
#game-over-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo gris oscuro translúcido */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    display: none; /* Oculto al inicio */
}

#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: darkred;
}
